<% if @user.errors.any? %>
  <div class="row">
    <div class="span12">
      <% for message in @user.errors.full_messages %>
          <div class="alert-message block-message error fade in" data-alert="alert">
            <a href="#" class="close">×</a>
            <p><%= message %></p>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render "users/new" %>