
<% unless current_user.blank? %> 
  <a href="/songs/new" class="btn" data-controls-modal="modal-from-dom-new-song" data-backdrop="true" data-keyboard="true">Add a song</a> 
<% end %> 

<div id="modal-from-dom-new-song" class="modal hide fade">
  <%= render "songs/new" %>
</div>

<%= render :partial => "shared/songlist", :locals => { :songs => @songs.reverse, :username => "everybody" } %>

